{:db {:url "jdbc:mysql://localhost:3306/mydb"
      :username "user"
      :password "password"
      :driver-class "com.mysql.cj.jdbc.Driver"
      :max-pool-size 10}

 :logging {:level :info
           :log-file "/var/log/myapp.log"}

 :api-keys {:stripe "sk_test_XXXXXXXXXXXXXXXXXXXX"
            :sendgrid "SG.XxxxxxxxxX"}

 :features {:email-service true
            :payment-gateway false}

 :oauth {:client-id "your-client-id"
         :client-secret "your-client-secret"
         :redirect-uri "https://yourapp.com/oauth/callback"}
}