{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        ;;Sanity and validation Layer

        ;;Web layer

        ;;Network Later

        ;;Business/Application Layer

        ;;Security Layer
        pandect/pandect {:mvn/version "1.0.2"}
        buddy/buddy-sign {:mvn/version "3.6.1-359"}
        buddy/buddy-auth {:mvn/version "3.0.323"}
        ;; buddy/buddy-hashers {:mvn/version "1.6.0"}
        com.taoensso/nippy {:mvn/version "3.4.2"}
        buddy/buddy-core {:mvn/version "1.12.0-430"}
        ;;Configurations Layer

        ;;Model layer

        ;;Persistence/Repository Layer

        ;;Integration
        ;; Message Queues
        ;; langohr/langohr {:mvn/version "5.1.0"}

        ;;Time
        clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}
        }
 :aliases
 {:run-m {:main-opts ["-m" "jaminlab.webengineeringlab"]}
  :run-x {:ns-default jaminlab.webengineeringlab
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
